@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://use.typekit.net/kfu3gdp.css");
* {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: good-times, sans-serif !important;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero-section {
  background-image: url("img/fond-final.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero-section header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
}
.hero-section header nav {
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-section header nav img {
  width: 200px;
  height: auto;
}
.hero-section header nav ul {
  display: flex;
  gap: 50px;
}
.hero-section header nav ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.hero-section header nav ul li a:hover {
  opacity: 0.8;
}
.hero-section header nav ul li:last-of-type a {
  background-color: rgb(255, 255, 255);
  color: #41249A;
  padding: 8px 35px;
  border-radius: 50px;
}
.hero-section .cta {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 35px;
}
.hero-section .cta img {
  width: 600px;
  height: auto;
}
.hero-section .cta h1 {
  line-height: 1.5;
  font-size: 42px;
  font-weight: bold;
}
.hero-section .cta p {
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}
.hero-section .cta a {
  color: #41249A;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 13px 45px;
  border-radius: 50px;
  margin-top: 20px;
}
.hero-section .cta a:hover {
  opacity: 0.8;
}
.hero-section .overlay {
  width: 100%;
  height: 100%;
}

#planets {
  background-color: #000031;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px;
  gap: 100px;
}
#planets h2 {
  font-size: 28px;
  color: white;
}
#planets .planets-ctn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#planets .planets-ctn .card {
  color: rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#planets .planets-ctn .card img {
  width: 200px;
}
#planets .planets-ctn .card div {
  text-align: center;
  margin-top: 30px;
}
#planets .planets-ctn .card div p:first-of-type {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #714fda;
}
#planets .planets-ctn .card div p:last-of-type {
  margin-top: 10px;
  line-height: 1.5;
  width: 300px;
}
#planets .planets-ctn .card a {
  color: #41249A;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 15px 35px;
  border-radius: 50px;
  margin-top: 50px;
}
#planets .planets-ctn .card a:hover {
  opacity: 0.8;
}

.header {
  background-color: #000031;
  width: 100%;
  color: white;
}
.header nav {
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav img {
  width: 200px;
  height: auto;
}
.header nav ul {
  display: flex;
  gap: 50px;
}
.header nav ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.header nav ul li a:hover {
  opacity: 0.8;
}
.header nav ul li:last-of-type a {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 8px 35px;
  border-radius: 50px;
}

.hero-section-planet {
  background-color: #000031;
  color: white;
  display: flex;
  padding: 60px;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.hero-section-planet .planet {
  position: absolute;
  top: 30px;
  right: 100px;
  width: 175px;
}
.hero-section-planet .left h1 {
  font-size: 28px;
}
.hero-section-planet .left p {
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 60px;
  line-height: 2;
}
.hero-section-planet .left a {
  background-color: rgb(255, 255, 255);
  color: #41249A;
  padding: 13px 45px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s;
}
.hero-section-planet .left a:hover {
  opacity: 0.8;
}
.hero-section-planet .right img {
  width: 400px;
}

.game-pres {
  background-color: #000031;
  display: flex;
  justify-content: center;
  align-items: center;
  /* .video {
      width: 900px;
      height: 600px;
      background-color: white;
  } */
}

#cards {
  background-color: #000031;
  color: white;
  text-align: center;
  padding: 100px;
  position: relative;
}
#cards .planet {
  position: absolute;
  top: 0;
  left: -60px;
  width: 200px;
}
#cards h2 {
  font-size: 28px;
  margin-bottom: 100px;
}
#cards .all-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#cards .all-cards .card {
  width: 250px;
  height: 250px;
  perspective: 500px;
  cursor: pointer;
}
#cards .all-cards .card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#cards .all-cards .card .content .front,
#cards .all-cards .card .content .back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cards .all-cards .card .content .back {
  background: #41249A;
  color: white;
  transform: rotateY(180deg);
}
#cards .all-cards .card .content .back div {
  display: flex;
  flex-direction: column;
}
#cards .all-cards .card .content .back p {
  margin: 20px;
  line-height: 1.4;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.4s;
}

.team {
  background-color: #000031;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 100px;
  padding-top: 50px;
}
.team h2 {
  font-size: 28px;
}
.team .team-ctn {
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
  gap: 50px;
  width: 60%;
  flex-wrap: wrap;
}
.team .team-ctn .team-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.team .team-ctn .team-card .img-team {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
.team .team-ctn .team-card p:first-of-type {
  font-weight: bold;
}
.team .team-ctn .team-card p:last-of-type {
  color: rgb(191, 189, 189);
  max-width: 150px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
